<%- include("./partials/header")%>

<h1 style="color:white;background-color:black;text-align:center">Q AND A </h1>

 <a href="/qanda" class="btn btn-primary">View Questions</a>
<%- include("./partials/footer")%>

